
<html lang="ru">
<head>
    <title>Магазин компьютерных деталей</title>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <meta charset="UTF-8" />
</head>


<body>

<header class="header">
    <h1>Магазин компьютерных комплектующих</h1>
</header>

